@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate3d {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  50% {
    transform: rotateY(180deg) rotateX(15deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg);
  }
}

.btn-gradient {
  @apply px-6 py-2 rounded-lg font-semibold text-white shadow-md transition-all;
  background: linear-gradient(
    to right,
    theme("colors.btnGradientFrom"),
    theme("colors.btnGradientTo")
  );
}

.btn-orange {
  @apply px-6 py-2 rounded-lg font-semibold text-white shadow-md transition-all;
  background: linear-gradient(
    to right,
    theme("colors.btnOrangeFrom"),
    theme("colors.btnOrangeTo")
  );
}

.btn-gradient:hover,
.btn-orange:hover {
  @apply hover:shadow-lg hover:scale-105;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* 
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
 */
